.main__info{
    margin-bottom: 20px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-rows: repeat(2, 40px);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
}